body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color:#023047;
  text-align: center;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}